In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
path = "Resources/emails.csv"
email_df = pd.read_csv(path)

# Review the DataFrame
email_df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [3]:
# Drop the Email No. column
email_df = email_df.drop(columns=['Email No.'])

In [4]:
# Filter columns based on the total value being greater than 1000
selected_columns = []
for col in email_df.columns:
    total_value = email_df[col].sum()
    if total_value > 1000:
        selected_columns.append(col)

email_df = email_df[selected_columns]

email_df.head(10)

,the,to,ect,and,for,of,a,you,hou,in,...,kin,der,las,ur,ward,aren,tm,del,ff,Prediction
0,0,0,1,0,0,0,2,0,0,0,...,0,0,0,1,0,0,1,0,0,0
1,8,13,24,6,6,2,102,1,27,18,...,0,0,0,24,3,3,0,0,1,0
2,0,0,1,0,0,0,8,0,0,4,...,0,0,0,0,0,0,0,0,0,0
3,0,5,22,0,5,1,51,2,10,1,...,0,0,0,1,7,2,0,0,0,0
4,7,6,17,1,5,2,57,0,9,3,...,0,0,0,5,3,1,0,0,1,0
5,4,5,1,4,2,3,45,1,0,16,...,1,0,0,4,0,0,0,0,0,1
6,5,3,1,3,2,1,37,0,0,9,...,0,0,1,0,0,0,0,0,0,0
7,0,2,2,3,1,2,21,6,0,2,...,0,1,0,7,0,0,0,0,1,1
8,2,2,3,0,0,1,18,0,0,3,...,0,0,0,0,0,0,0,2,0,0
9,4,4,35,0,1,0,49,1,16,9,...,1,0,0,2,1,0,0,1,0,0

In [5]:
# Separate the data into labels and features
# Separate the y variable, the labels
y = email_df['Prediction']

# Separate the X variable, the features
X = email_df.drop(columns=['Prediction'])

In [6]:
# Review the y variable Series
y.head(10)

0    0
1    0
2    0
3    0
4    0
5    1
6    0
7    1
8    0
9    0
Name: Prediction, dtype: int64

In [7]:
# Review the X variable DataFrame
X.head(10)

,the,to,ect,and,for,of,a,you,hou,in,...,le,kin,der,las,ur,ward,aren,tm,del,ff
0,0,0,1,0,0,0,2,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1,8,13,24,6,6,2,102,1,27,18,...,3,0,0,0,24,3,3,0,0,1
2,0,0,1,0,0,0,8,0,0,4,...,0,0,0,0,0,0,0,0,0,0
3,0,5,22,0,5,1,51,2,10,1,...,1,0,0,0,1,7,2,0,0,0
4,7,6,17,1,5,2,57,0,9,3,...,4,0,0,0,5,3,1,0,0,1
5,4,5,1,4,2,3,45,1,0,16,...,14,1,0,0,4,0,0,0,0,0
6,5,3,1,3,2,1,37,0,0,9,...,7,0,0,1,0,0,0,0,0,0
7,0,2,2,3,1,2,21,6,0,2,...,1,0,1,0,7,0,0,0,0,1
8,2,2,3,0,0,1,18,0,0,3,...,1,0,0,0,0,0,0,0,2,0
9,4,4,35,0,1,0,49,1,16,9,...,4,1,0,0,2,1,0,0,1,0

In [8]:
# Check the balance of our target values
y.value_counts()

0    3672
1    1500
Name: Prediction, dtype: int64

In [9]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [10]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
classifier = LogisticRegression(solver='lbfgs', max_iter=200, random_state=1)

# Fit the model using training data
classifier.fit(X_train, y_train)

c:\Users\brnka\anaconda3.1\envs\dev\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=200, random_state=1)

In [11]:
# Make a prediction using the testing data
predictions = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
results.head(10)

   Prediction  Actual
0           0       0
1           0       0
2           0       0
3           0       1
4           0       0
5           0       0
6           1       1
7           0       0
8           0       0
9           0       0

In [12]:
# Print the balanced_accuracy score of the model
balanced_accuracy_score(y_test, predictions)

0.9486361655773421

In [13]:
# Generate a confusion matrix for the model
confusion_matrix(y_test, predictions)

array([[880,  38],
       [ 23, 352]], dtype=int64)

In [14]:
# Print the classification report for the model
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.97      0.96      0.97       918
           1       0.90      0.94      0.92       375

    accuracy                           0.95      1293
   macro avg       0.94      0.95      0.94      1293
weighted avg       0.95      0.95      0.95      1293

In [15]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
model = RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model
X_over, y_over = model.fit_resample(X_train, y_train)

In [16]:
# Count the distinct values of the resampled labels data
y_over.nunique()

2

In [17]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
classifier = LogisticRegression(solver='lbfgs', max_iter=200, random_state=1)

# Fit the model using the resampled training data
classifier.fit(X_over, y_over)

# Make a prediction using the testing data
predictions = classifier.predict(X_test)
results = pd.DataFrame({"Predictions": predictions, "Actual": y_test}).reset_index(drop=True)

results.head(10)

c:\Users\brnka\anaconda3.1\envs\dev\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

   Predictions  Actual
0            0       0
1            0       0
2            0       0
3            1       1
4            0       0
5            0       0
6            1       1
7            0       0
8            0       0
9            0       0

In [18]:
# Print the balanced_accuracy score of the model
balanced_accuracy_score(y_test, predictions)

0.9522788671023965

In [19]:
# Generate a confusion matrix for the model
confusion_matrix(y_test, predictions)

array([[872,  46],
       [ 17, 358]], dtype=int64)

In [20]:
# Print the classification report for the model
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.98      0.95      0.97       918
           1       0.89      0.95      0.92       375

    accuracy                           0.95      1293
   macro avg       0.93      0.95      0.94      1293
weighted avg       0.95      0.95      0.95      1293